

.logo {
  background-color: white;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  h1 {
    line-height: 29px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav {
  background-color: white;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: flex-end;



  @media screen and (max-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
  }

  li {
    a {
      text-decoration: none;

      &:hover {
        color: rgba(0, 0, 0, 0.2)
      }
    }
  }
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}