@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(../public/fonts/Montserrat-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url(../public/fonts/Montserrat-Bold.ttf) format("truetype");
  }
}

@layer base {
  h1, h2, h3, h4, h5 {
    @apply tracking-wider;
  }

  h1 {
    @apply text-5xl;
    @apply md:text-7xl;
    @apply font-bold;
  }

  h2 {
    @apply text-4xl;
    @apply mb-0;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply uppercase;
    @apply font-bold;
  }
}

p {
  margin: 1rem 0;
}

body {
  font-family: Montserrat, serif;
  box-sizing: border-box;
}