@import "colors";

.container {
  padding: 0 2rem;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 95vh;
  padding: 4rem 0;
}

.section {
  margin: 40px 0;
  padding: 25px 15px;
}

.title {
  margin: 0;
  font-size: 75px;
  line-height: 1;
  color: $background;
  -webkit-text-stroke: 3px $primary;
}

.description {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
}